<div class="list">
    <h2>Guest List</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>RSVP</th>
            <th>Meal Preference</th>
        </tr>
        {{#each guestList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.rsvp}}</td>
            <td>
                {{#if this.isComing}}
                <span style="white-space: nowrap">Non-vegetarian : {{this.nonVegetarian}}</span>&nbsp; &nbsp;
                <span style="white-space: nowrap">Vegetarian : {{this.vegetarian}}</span>
                {{else}}
                -
                {{/if}}
            </td>
        </tr>
        {{/each}}
    </table>
    <div>
        <h4>Yes: {{yesCount}}</h4><h4>No: {{noCount}}</h4>
    </div>
    <div>
        <h4>Non-Vegetarian: {{nonVegCount}}</h4><h4>Vegetarian: {{vegCount}}</h4>
    </div>
</div>