<div class="list">
    <h2>Guest List</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>RSVP</th>
            <th>Meal Preference</th>
        </tr>
        {{#each guestList}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.rsvp}}</td>
            <td>{{this.meal}}</td>
        </tr>
        {{/each}}
    </table>
    <div><h4>Yes: {{yesCount}}</h4><h4>No: {{noCount}}</h4></div>
</div>